SprintWatch.xcodeproj/project.xcworkspace/xcuserdata/fredrikostlund.xcuserdatad/UserInterfaceState.xcuserstate
SprintWatch WatchKit Extension/.DS_Store
SprintWatch.xcodeproj/project.xcworkspace/xcuserdata/oscarthorwid.xcuserdatad/UserInterfaceState.xcuserstate
